.header__layout {
    background-color: var(--primary-color);
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    height: 70px;
    display: grid;
    align-items: center;
    font-size: x-large;
    position: relative;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nav__link {
    text-decoration: none;
    transition: opacity 0.3s;
    color: white;
    cursor: pointer;
    height: fit-content;
    list-style: none;
    place-content: center;
}
.nav__links {
    list-style: none;
    height: fit-content;
    margin: 0 0 0.9em 0;
}

.nav__link:hover {
    opacity: 0.7;
}

.main__layout {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    width: 80%;
}
.wrapper__logo {
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    display: block;
    margin-top: -2em;
    padding: 2.65em 0.7em 0.65em 0.9em;
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.wrapper__logo img {
    display: block;
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    width: 140px;
}
.footer__layout {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
