#root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    min-height: 100vh;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    --button-color: #3b82f6;
    --button-color-hover: #5d89e8db;
    --primary-color: #3b778b;
}

body {
    color: #333;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: var(--button-color);
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: var(--button-color-hover);
}
